.total-block {
  background: #323232;
  border: 4px solid salmon;
  box-shadow: 2px black;
  width: fit-content;
  margin: 0 auto 20px;

}
.total-title {
  padding: 10px;
  margin: 0;
  color: #ffffff;
  font-size: 34px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
}