
.title {
  margin: 20px 0 ;
  color: #323232;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}
.subtitle {
  margin: 0;
  color: #323232;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}